& when (@media-common = true) {
    .npm {
        display:inline-block;
        color: #99A1A7;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
    }
    .product_id {
        display:inline-block;
        border-right: 0.5px solid #99A1A7;
        padding-right: 5px;
        color: #99A1A7;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
    }
    
}