& when (@media-common = true) {
    .color {
        display: flex;
        .primary {
            height: 80px;
            width: 80px;
            border-radius: 5px;
            background-color: #00AFF0;
        }
        .secondary {
            height: 80px;
            width: 80px;
            border-radius: 5px;
            background-color: #003A64;
        }
        .dark {
            height: 80px;
            width: 80px;
            border-radius: 5px;
            background-color: #2C3E50;
        }
        .warning {
            height: 80px;
            width: 80px;
            border-radius: 5px;
            background-color: #E74C3C;
        }
        .white {
            box-sizing: border-box;
            height: 80px;
            width: 80px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #FFFFFF;
        }
        div {
            margin-right: 5px;
        }
    }
    .typography {
        display: flex;
        align-items: baseline;
        .aa {
            color: #000000;
            font-family: @font-family-name__base;
            font-size: 110px;
            letter-spacing: 0;
            line-height: 110px;
        }
        .poppins {
            color: #000000;
            font-family: @font-family-name__base;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 27px;
        }
    }
    .checkbox {
        width:150px;
    }
}